<meta name="defaultView" content="slideshow" />
<meta name="controlVis" content="hidden" />
<!-- style sheet links -->
<link rel="stylesheet" href="ui/sambaxp/slides.css" type="text/css" media="projection" id="slideProj" />
<link rel="stylesheet" href="ui/sambaxp/outline.css" type="text/css" media="screen" id="outlineStyle" />
<link rel="stylesheet" href="ui/sambaxp/print.css" type="text/css" media="print" id="slidePrint" />
<link rel="stylesheet" href="ui/sambaxp/opera.css" type="text/css" media="projection" id="operaFix" />
<!-- S5 JS -->
<script src="ui/sambaxp/slides.js" type="text/javascript"></script>
